:root {
    --primary: #FF8400;
    --secondary: #FFF5D3;
    --hover: #CC6002;
    --outline: #CACACA;
    --text: #0E0E0E;
    --muted: #666;
    --white: #FFFFFF;
    --radius: 12px;
    --gap: 12px;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: Poppins, system-ui, Arial, sans-serif;
    height: 100%;
    color: var(--text);
    background: var(--white)
}

h2 {
    font-family: Poppins, system-ui, Arial, sans-serif;
    color: var(--white);
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px 10px 0px;
}

h3 {
    font-family: Poppins, system-ui, Arial, sans-serif;
    color: var(--white);
    font-weight: 300;
    font-size: 1rem;
    margin: 0px;
    padding: 0px 10px 10px;
}

h3.header-negro {
    color: var(--text);
    padding-left: 15px;
    padding-top: 20px;
}

.linea-naranja {
    width: 75%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
    margin-left: auto;
    margin-right: 0;
}

header {
    grid-area: header;
    background-color: var(--primary);
}

main {
    grid-area: main;
    background-color: var(--white);
}

footer {
    grid-area: footer;
    background-color: var(--outline);
    color: var(--muted);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--muted);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary);
    width: 180px;
    z-index: 1000;
}

.menu li a {
    display: block;
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--hover);
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.topbar {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: 1px solid var(--outline);
    background: var(--primary);
    color: white;
    position: relative;

    position: sticky;
    top: 0;
    z-index: 100;
}

.ri-menu-line {
    font-size: 30px;
}

.LogoNL {
    width: 90px;
    height: auto;
    text-align: center;
}

.ri-search-line {
    font-size: 30px;
}

/* CSS para pagina principal */

.imagen-contenedor {
    position: relative;
    width: 100%;
}

.FotoIni {
    width: 100%;
    height: auto;
    text-align: center;
}

.cuadroIni {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40%;
    position: absolute;
    top: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-contenedor {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 15px;
}

.carrusel-item-contendor {
    position: relative;
    flex: 0 0 auto;
    width: 30%;
    height: 100px;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.carrusel-item-text {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.carrusel {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 10px;
    width: 100%;
}

.carrusel-item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.ri-arrow-left-line,
.ri-arrow-right-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.ri-arrow-left-line {
    left: 5px;
}

.ri-arrow-right-line {
    right: 5px;
}

ul.Emprendedores-container {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.Emprendedores-container .container-item {
    width: 90%;
    height: auto;
    background-color: var(--white);
    border: 2px solid var(--outline);
    padding: 0px;
    margin: 10px 20px;
    border-radius: 35px 0px 35px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    align-items: center;
     position: relative;
}

ul.Emprendedores-container .cuadroprecio {
    position: absolute;
    bottom: 0px; /* ajusta según lo necesites */
    left: 65%;
    transform: translateX(-50%);
    width: 70px;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary);
    z-index: 10;
}

.textocuadro h3 {
    margin: 0;
    padding: 10px 10px 0px 10px;
    color: var(--text);
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.textocuadro p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 5px 0;
    font-weight: light;
    padding: 0px 0px 0px 10px;
}

.categoria {
    text-decoration: underline;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    padding:0px 10px 0px 10px;
}

.categoria:hover {
    color: var(--hover);
    text-decoration: none;
}

.imagencuadro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.imagencuadro img {
    width: 100%;
    height: 100%;
    border-radius: 35px 0 35px 0;
    object-fit: cover;
}

.fechacuadro {
    color: var(--primary);
    font-weight: bold;
    text-align: right;
}

/* CSS para lista emprendedores */
#bread-crumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    color: var(--hover);
}

#bread-crumbs .ri-filter-2-fill {
    margin-left: auto;
    color: var(--primary);
    font-size: 25px;
}

/* CSS para categorias */
.carrusel-categorias {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 15px;
    gap: 15px;
    flex-wrap: nowrap;
}

.carrusel-categorias::-webkit-scrollbar {
    display: none;
}
.carrusel-item-categorias {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.carrusel-item-categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item-categorias:hover .carrusel-item-text {
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.8);
}