:root {
    --primary: #FF8400;
    --secondary: #FFF5D3;
    --hover: #CC6002;
    --outline: #E6E6E6;
    --text: #0E0E0E;
    --muted: #666;
    --white: #FFFFFF;
    --radius: 12px;
    --gap: 12px;
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: Poppins, system-ui, Arial, sans-serif;
    height: 100%;
    color: var(--text);
    background: var(--white)
}

header {
    grid-area: header;
    background-color: --primary;
    position: sticky;
    top: 0;
}

main {
    grid-area: main;
    background-color: red;
    padding: 15px;
    height: 500px;
}

footer {
    grid-area: footer;
    background-color: var(--outline);
    color: var(--muted);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--muted);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary);
    width: 180px;
    z-index: 1000;
}

.menu li a {
    display: block;
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: var(--hover);
}

.grid-container {
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: 150px auto 100px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.topbar {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: 1px solid var(--outline);
    background: var(--primary);
    color: white;
    position: relative;
}

.ri-menu-line {
    font-size: 30px;
}

.LogoNL {
    width: 90px;
    height: auto;
    text-align: center;
}

.ri-search-line {
    font-size: 30px;
}